/* �쎒 �룿�듃 �쟻�슜 */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
   
   @font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
    
        #wrapper { /*85%濡� �꼫鍮꾧컪*/
            width: 85%;
            margin: 0 auto;
        }
       header { /*�뿤�뜑 %濡� �떒�쐞蹂�寃�*/
            width: 100%;
            height: 155px;
            /* background-image :url("../../images/login/logo.png"); */
             background-size: 320px 164px; 
            background-repeat : no-repeat;
            background-position : center;
           /*  border-bottom: 2px solid black; */
    }

        .content { /*蹂몃Ц %濡� �떒�쐞蹂�寃�*/
            float: left;
            width: 50%;
            height: 200px;
            padding: 1.5625%;
            background-color: #F5F5F5;
        }
        .content2 {
        	width: 100%;
        	height: 400px;
        }
        .right-side { /*�궗�씠�뱶諛� %濡� �떒�쐞蹂�寃�*/
            float: right;
            width: 45%;
            height: 200px;
            padding: 0.5625%;
            background-color: #F5F5F5;
        }
/*         footer{ �뫖�꽣 %濡� �떒�쐞蹂�寃�
            clear: both; 
            width: 85%;
            height: 120px;
            text-align: center;
        }
         */
 /* 濡쒓렇�븘�썐 踰꾪듉 */
#LogoutBtn {
	border : none;
	border-radius: 5px;
	background-color:rgb(3, 104, 115);
	font-size: 1.1rem;
	color : white;
	font-family: '怨좊뵓';
	cursor: pointer;
	padding: 4px 17px 4px 17px;
	box-shadow:  0 1px 1px 0 rgb(3, 104, 115);
	/* position: fixed;
	right: 90px;
	top: 100px; */
}


/* 濡쒓렇�씤踰꾪듉, �쑀�� 濡쒓렇�씤�젙蹂� div */
.logout{
	white-space : nowrap;
 	display : flex;
 	position : absolute;
	right: 8%;
	top: 93px;
	align-items: flex-end;
	
}
/* 留덉씠�럹�씠吏� �뿰�븘 �씠誘몄� */
.pencil{
	width: 30px;
	height: 30px;
	background-image: url("resources/images/park/pencil.png");
	background-repeat: no-repeat;
	margin-right: 9px;
	margin-left : 7px;
	background-size: contain;
	z-index:9999;
	cursor: pointer;
}
/* �꽕鍮꾧쾶�씠�뀡諛� �쟾泥� */
.navi{
	list-style-type: none;
   	margin-top : -55px;
    padding: 0px; 
    display: flex;		/* 媛�濡쒖젙�젹 */
     background: white;   
   /*  background : rgb(150, 210, 90);   */
    width: 100%;
   	overflow: auto;
}


/* 愿�由ъ옄 硫붾돱 �뾾�븷湲� */
.navi > #manager{
	display: none;	
}

/* 硫붾돱諛붿뿉 而ㅼ꽌 �삱�졇�쓣�븣 �샇踰꾩씠踰ㅽ듃 */
.navi > .Park:hover{
	background: rgb(150, 210, 90);
	color: white;
}

.navi > .WalkT:hover{
	background: rgb(150, 210, 90);
	color: white;
}

.navi > .Bike:hover{
	background: rgb(150, 210, 90);
	color: white;
}
.navi > .FDust:hover{
	background: rgb(150, 210, 90);
	color: white;
}

.navi > .Memory:hover{
	background: rgb(150, 210, 90);
	color: white;
}
.navi > .Notice:hover{
	background: rgb(150, 210, 90);
	color: white;
}

/* 硫붾돱 */
.navi > li{
	line-height: 30px;   	/* 以꾧컙寃� */
	/*text-align: center;		 �뀓�뒪�듃 �젙�젹 */ 	
	padding: 13px;
	color: black;
	text-decoration: none;
	width: 25%; 
 	font-size: 1.4rem;
}
/* 硫붾돱諛� �꽭濡쒖꽑 */
.navi > li.sub{
	text-align: center;		/* �뀓�뒪�듃 �젙�젹 */ 	
	border-top: 2px solid silver;
	border-bottom: 2px solid rgb(150, 210, 90); 
}


/* �븯�쐞硫붾돱 湲��뵪 */
.gnb_sub > li> a{
	color : black;
	font-size: 0.9em;
}

/* �꽕鍮꾨찓�돱�뿉 �엳�뒗 a�깭洹� */
.navi a{
	text-decoration:none; 
}

/* dv box */
.dvbox{
	border-top: 2px solid silver;
	border-bottom: 2px solid rgb(150, 210, 90); 
}


/* 硫붾돱 紐⑥뼇 �몴�떆 */
.dv {
  width: 35px;
  height: 5px;
  background-color: rgb(121,55,55);
  margin: 6px 0;
}

/* 硫붾돱 湲��뵪泥� */
.gnb > .navi > .sub{
	font-family: 'Cafe24Ssurround';
}

/* gnb(�꽕鍮꾧쾶�씠�뀡諛�)�쓽 �븯�쐞硫붾돱 */
.gnb_sub {
	 display: none; 
	list-style-type: none;
	padding-left: 0px;
}

.navcon {
	    margin-top: 36px;
	    position: relative;
	    z-index: 999;
}
/* .navcon{.right-side
	z-index: 1;
	padding-top: 193px; 
	position: absolute; 
	left:20px; 
	right:20px;
	margin-left: 12px;
	margin-right: 12px;
} */
/* �꽕鍮꾧쾶�씠�뀡諛� */
#nav{
	margin-left: 5.6%;
   	margin-right: 5.3%;
}
/* 怨듭��궗�빆,怨듭썝 best5 紐⑸줉 湲��뵪 */
main .li{
	font-size: 1.6rem;
	font-family:'twayair';
}


/* body �쟾泥� */
/* #wrap{
	min-height: 100vh;
 	position: relative;
	width: 86%;
} */

/* footer */
/* footer { 
	width: 85%;
	height: 110px;
	position: fixed;				�솕硫� �뒪�겕濡ㅼ삱由щ㈃ �솕硫댁뿉�꽌 �븞蹂댁엫
	padding-top: 15px;
	color: gray;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid black;
	margin-right: 90px;
	margin-top: 270px;
	
} */

/* footer div */
/* .foot{
	border-top: 1px solid black;
} */

footer > .foot > nav > a{
	text-decoration: none;
	color: black;
}

/* �뒳�씪�씠�뱶 而⑦뀒�씠�꼫 */
.swiper-container {
    margin-top:30px;
	width : 97%;
	height: 89%;
	border:3px solid silver;
	border-radius:7px;
	box-shadow:0 0 20px #ccc inset;
	padding-bottom: 50px;
	padding-top: 0px;
	padding-left : 17px;
	
}
.swiper-slide {
	text-align:center;
	display:flex; /* �궡�슜�쓣 以묒븰�젙�젹 �븯湲곗쐞�빐 flex �궗�슜 */
	align-items:center; /* �쐞�븘�옒 湲곗� 以묒븰�젙�젹 */
	justify-content:center; /* 醫뚯슦 湲곗� 以묒븰�젙�젹 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
	max-width:100%;/* �씠誘몄� 理쒕��꼫鍮꾨�� �젣�븳, �뒳�씪�씠�뱶�뿉 �씠誘몄�媛� �뿬�윭媛쒓� 蹂댁뿬吏덈븣 �븘�슂 */
}

/* .swiper-wrapper{
	margin-bottom: 90px;
} */
/* 珥덇린�솕 */  


/* 蹂댁뿬以� 援ш컙�쓽 �넂�씠�� �꼻�씠 �꽕�젙 */ 
/*  #slideShow{ 
	width: 500px; 
	height: 400px; 
	position: relative;
	 margin: 50px auto; 
	 overflow: hidden; 
 } */